@tailwind base;

@tailwind components;
.btn {
  @apply flex items-center w-fit bg-[#565ADD]  rounded-[60px] py-[1.5rem] px-[1rem] 
          text-[#EFF0FF]  border-[#BBBDF1] border-4 text-sm  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 mobile:hidden;
}
@tailwind utilities;

@layer base {
  body {
    font-family: "Caveat", cursive;
    font-family: "Inter", sans-serif;
    font-family: "Kantumruy Pro", sans-serif;
    font-family: "Libre Baskerville", serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Slab", serif;
  }
}
