@tailwind base;

@tailwind components;
.btn {
  @apply flex items-center w-fit bg-[#565ADD]  rounded-[60px] py-[1.5rem] px-[1rem] 
          text-[#EFF0FF]  border-[#BBBDF1] border-4 text-sm  transition ease-in-out delay-150 hover:-translate-y-1 hover:scale-110 duration-300 mobile:hidden;
}
@tailwind utilities;

@layer base {
  body {
    font-family: "Poppins", sans-serif;
    font-family: "Poppins", sans-serif;
    font-family: "Roboto", sans-serif;
    font-family: "Roboto Slab", serif;
  }
}
@font-face {
  font-family: "Circular"; /*Can be any text*/
  src: url("https://befonts.com/downfile/149a35668fbd45b2654e1e1287ca8ae7.222834.ttf")
    format("ttf");
}
@keyframes pulse {
  0%,
  100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.5);
  }
}

.animate-pulse {
  animation: pulse 1.8s infinite forwards;
}
